n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ccef9620-04b6-4130-972b-aaeec4aee1c3",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -128
      ],
      "id": "efb47706-53ff-48d0-b1b0-28d98df13e6a",
      "name": "Webhook",
      "webhookId": "ccef9620-04b6-4130-972b-aaeec4aee1c3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are an expert BI Analyst AI Agent. Your role is to translate user requests into a strict JSON blueprint so a Python backend can calculate and display the data.\n\nThe local database has these exact columns: Transaction_ID, Order_Date, Sales_Person, Region, Country, Product, Quantity, Unit_Price, Discount_Price, Sales, Profit.\n\nCRITICAL RULES:\n1. Output ONLY a valid JSON object. Do not include markdown formatting like ```json.\n2. The JSON MUST follow this exact schema, adjusting values based on what the user asked for:\n{\n  \"response_type\": \"chart\", \n  \"summary_text\": \"Only use this if response_type is 'summary'. Write your answer here.\",\n  \"x_column\": \"ExactColumnName\",\n  \"y_column\": \"ExactColumnName\",\n  \"chart_type\": \"column\",\n  \"filter_column\": null,\n  \"filter_value\": null\n}\n\nROUTING LOGIC (RESPONSE TYPES):\n- CHARTS: If the user asks for a chart or graph, set \"response_type\" to \"chart\".\n- TABLES: If the user asks for a \"table\", \"data\", or \"numbers\", set \"response_type\" to \"table\". You MUST still include a valid \"x_column\" and \"y_column\" so the frontend can group the data accurately.\n- SUMMARIES: If the user asks a general question, or specifically says \"not a chart\", set \"response_type\" to \"summary\" and put your conversational answer in \"summary_text\".\n\nCHART TYPE SELECTION:\n- HORIZONTAL: If the user asks for a horizontal bar chart, set \"chart_type\" to \"bar\".\n- VERTICAL: If the user asks for a vertical column chart, or just \"chart\", set \"chart_type\" to \"column\".\n- PIE: If the user explicitly uses the word \"pie\", set \"chart_type\" to \"pie\". \n- DOUGHNUT: If the user explicitly uses the word \"doughnut\" or \"donut\", set \"chart_type\" to \"doughnut\".\n- BOXPLOT: If the user asks for a \"boxplot\" or \"box plot\", set \"chart_type\" to \"boxplot\".\n- HEATMAP: If the user asks for a \"heatmap\" or \"density chart\", set \"chart_type\" to \"heatmap\".\n\nMETRICS HANDLING:\n- MULTIPLE METRICS: If the user asks for multiple metrics (e.g., \"sales and profit\"), you MUST combine them in the y_column separated by a comma (e.g., \"y_column\": \"Sales, Profit\")."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -128
      ],
      "id": "0a95c85d-ccf7-4fa2-9914-18b83a64b142",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        80
      ],
      "id": "bc8d0fc1-b931-4ee9-be0e-d8d8dc9d7bef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0SGkey5GAUm88pUo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ca63c05b-ee7e-4024-82e9-f2b67afe5794",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef97c92d346ef4930d2b97bc327e63f22a190503553a8e8aaa84426e5c05d39d"
  },
  "id": "pnjylVrszN4TdAmt",
  "tags": []
}
